@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Vacation

<h2>Add Vacation</h2>

<form asp-action="EditState" method="post">
    <div class="form-group">
        <label asp-for="HowManyDays">How many days:</label>
        <input asp-for="HowManyDays" class="form-control" readonly />
        <span asp-validation-for="HowManyDays" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="When">When:</label>
        <input asp-for="When" class="form-control" readonly />
        <span asp-validation-for="When" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>State:</label>
        <select asp-for="state" class="form-control">
            <option value="0">Waiting</option>
            <option value="1">Active</option>
            <option value="2">Cancelled</option>
            <option value="3">Expired</option>
            <option value="4">Accepted</option>
        </select>
        <span asp-validation-for="state" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="EmployeeId" />

    <input type="submit" value="Edit Vacation" class="btn btn-primary" />
</form>

