@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Vacation>

@if(User.Identity.IsAuthenticated){
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Data</th>
                <th scoper="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <th scope="row">First name</th>
                <td></td>
              
            </tr>
            <tr class="table-primary">
                <th scope="row">Last name</th>
                <td></td>
                
            </tr>
            <tr class="table-primary">
                <th scope="row">E-Mail address</th>
                <td></td>
            </tr>
            <tr class="table-primary">
                <th scope="row">PhoneNumber</th>
                <td></td>
            </tr>
           @* @if (User.IsInRole("Employee"))
            {
                <tr class="table-primary">
                    <th scope="row">PhoneNumber</th>
                    <td>@Model.Empl</td>
                </tr>
            }
            else if(User.IsInRole("Employer"))
            {
                <tr class="table-primary">
                    <th scope="row">PhoneNumber</th>
                    <td>@Model.PhoneNumber</td>
                </tr>
            }
*@
        </tbody>
    </table>
    <a class="btn btn-primary float-end pe-2" asp-controller="Vacations" asp-action="AddVacation" >Add Vacation </a>
}