
@{
    ViewData["Title"] = "HowToUse";
}
<div class="w-50 ">
    <h2 class="pt-3 ">What can the app do?</h2>
    <p class="text-justify">Nullam quis risus eget  vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    </p>
    <h2 class="pt-5">How to register</h2>
    <p class="text-justify">Nullam quis risus eget  vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    </p>
    <h2 class="pt-5">Basic opertaions</h2>
    <p class="text-justify">Nullam quis risus eget  vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    </p>
    
</div>
